h1{
color: red;
text-align: center;
text-transform: uppercase;
margin-top: 40px;
}

p  {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Dark gray color */
    margin-bottom: 20px;
    margin-left: 20px;

}

ul li {

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Dark gray color */
    margin-bottom: 20px;
}
input {
    margin-left: 20px;
}

button {
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  div p {

text-align: center;
  }
  #result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  img
  {
    width: 400px;
  }